<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>mmmSauces</title>
		<link rel="stylesheet" href="/css/style.css">
	</head>

	<body>
		<nav>
			<h4><a href="/">mmmSauces</a></h4>
			<ul>
				<li><a href="/manufacturers">Manufacturers</a></li>
				<li><a href="/sauces">Sauces</a></li>
				<li><a href="/customers">Customers</a></li>
			</ul>

			<ul>
				<li><a href="/new-manufacturer">New Manufacturer</a></li>
				<li><a href="/new-sauce">New Sauce</a></li>
				<li><a href="/new-customer">New Customer</a></li>
				<li><a href="/new-customer-purchase">New Customer Purchase</a></li>
			</ul>
		</nav>

		<div id="container">
			{{{body}}}
		</div>

	</body>

</html>