<p>This is a sauces app made with Node.js, Express.js, postgreSQL and Handlebars</p>

<p>To use this app, you must run the sql files in the db folder</p>

<p>We normalized the tables.</p>

<p>We also leveraged left joins to combine normalized data into one unified SQL query.</p>