<h1>New Customer</h1>

<form action="/create-customer" method="POST">
	<input type="text" name="name" placeholder="customer name">
	<input type="text" name="email" placeholder="customer email">

	<br>
	<input type="submit" value="submit">
</form>